body{
    display:flex;
    flex-direction: row;
}

.listofinvoice{
    width:62vw;
    height : 100vh;
    border:solid 1px rgba(2, 3, 18, 0.867);
}
.detailofinvoice{
    width:38vw;
    border:solid 1px rgba(2, 3, 18, 0.867);
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.invoice-list{
    display:flex;
    flex-direction: column;
    align-items: center;
    /* border : solid 1px #23ff23; */
}
table{
    width : 95%;
    border: solid 1px rgba(2, 3, 18, 0.867);
}
#banginvoice{
    width:95%;
    table-layout: fixed;/* Sử dụng chế độ cố định cho bảng */
}
th,td{
    border: solid 1px rgba(2, 3, 18, 0.867);
    height:30px;
}
/* độ rộng các cột  */
#banginvoice th:nth-child(1),td:nth-child(1){width:15%; text-align: center;}
#banginvoice th:nth-child(2),td:nth-child(2){width:20%;}
#banginvoice th:nth-child(3),td:nth-child(3){width:15%;}
#banginvoice th:nth-child(4),td:nth-child(4){width:10%; text-align: center;}
#banginvoice th:nth-child(5),td:nth-child(5){width:30%; text-align: center;}
#banginvoice th:nth-child(6),td:nth-child(6){width:10%; text-align: center;}

/* độ rộng các cột cho bảng chi tiết invoice  */
#bangchitietinvoice th:nth-child(1),td:nth-child(1){width:10%; text-align: center;}
#bangchitietinvoice th:nth-child(2),td:nth-child(2){width:20%; text-align: left;}
#bangchitietinvoice th:nth-child(3),td:nth-child(3){width:15%; text-align: center;}
#bangchitietinvoice th:nth-child(4),td:nth-child(4){width:15%; text-align: center;}
#bangchitietinvoice th:nth-child(5),td:nth-child(5){width:30%; text-align: center;}

/* độ rộng các cột cho bảng add item  */
#new-item-table th:nth-child(1),td:nth-child(1){width:10%; text-align: center;}
#new-item-table th:nth-child(2),td:nth-child(2){width:50%; text-align: left;}
#new-item-table th:nth-child(3),td:nth-child(3){width:20%; text-align: center;}
#new-item-table th:nth-child(4),td:nth-child(4){width:20%; text-align: center;}


.khungchuainvoice {
    border: solid 1px rgba(2, 3, 18, 0.867);
    width : 90%;
    /* height:90vh; */
}

.co-title{
    font-size: 30px;
    padding : 24px;
}
.user-name{
    padding-left :24px;
    font-size: 16px;
}
.containerbangchitietinvoice{
    display : flex;
    flex-direction: column;
    align-items: center;
}

.invoivefooter{
    display : flex;
    flex-direction: column;
    align-items: center;
}
/* Phần CSS cho trang tạo new invoice */


.new-invoice-page{
    display : flex;
    flex-direction: column;
    align-items: center;
    width : 100vw;
    background-color: #0be7a5;
    /* border : solid 1px #000e00; */
}
.createnewinvoice{
    display : flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;
}
.new-invoice-creat{
    display:flex;
    flex-direction: column;
    width:25%;
    /* border: solid 1px rgba(2, 3, 18, 0.867); */
}
.new-invoice-add-item{
    display:flex;
    flex-direction: column;
    width:60%;
    align-items: center;
    /* border: solid 1px rgba(2, 3, 18, 0.867); */
}
.new-invoice{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width : 100%;
    /* justify-content: space-between; */
    gap:30px;
    /* border: solid 1px rgba(2, 3, 18, 0.867);  */
    /* gap: space-between; */
}
.newinvoice-title,.newinvoice-customer{
    margin-top : 10px;
}

#createnewinvoicebutton{
    margin-top:10px;
}
.input-new-product-information{
    margin: 10px;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    width : 100%;
    /* border: solid 1px rgba(2, 3, 18, 0.867);  */
}
.new-invoice-container{
    width:100%;
    display : flex;
    flex-direction: column;
    align-items: center;
    /* border: solid 1px rgba(2, 3, 18, 0.867);  */
}
#new-item-table{
    width:100%;
}

/* Phần dành cho màn hình điện thoại  */
@media only screen and (max-width: 768px){
    .new-invoice-creat {
            display: flex;
            flex-direction: column;
            width: 100%;
            }
    .new-invoice {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            gap: 30px;
            }
    .input-new-product-information{
            margin: 10px;
            display : flex;
            flex-direction: column;
            justify-content: space-between;
            width : 100%;
            }
    .new-invoice-add-item{
            display:flex;
            flex-direction: column;
            width:100%;
            }            
    .product-info{
            display:flex;
            flex-direction: column;
            width:100%;
    }    
    .product-info {
            width:100%;
    }  
    #createnewinvoicebutton,#add-new-item-btn{
        width:50%;
        margin-top: 15px;
    }
    #input-newinvoice-title,#input-newinvoice-customer,#new-item-name,#new-item-price,#new-item-quantity{
        height:20px;
    }
}